<div class="Home__container">
  <div class="home-carousel">
    <!-- TODO implement slick lazy loading once actual images are in place!!!! otherwise you'll be loading -->
    <!-- multiple very large images at once -->
    <div>
      <%= image_tag 'pool.jpg' %>
    </div>
    <div>
      <%= image_tag 'pool1.jpg' %>
    </div>
    <div>
      <%= image_tag 'pool2.jpg' %>
    </div>
  </div>

  <div class="Home__nav_bar_left">
    <span> ELITE POOLS </span>
  </div>
  <div class="Home__nav_bar_right">
    <ul>
      <li> PORTFOLIO </li>
      <li> BUILD </li>
      <li> RENOVATE </li>
      <li> CONTACT </li>
    </ul>
  </div>
</div>
