.Home__parent{
  position: relative;
  min-width: 1000px;
  height: 100%;
}

.Home__ctn, .Home__overlay {
  position: absolute;
  height: 100%;
  width: 50%;
  min-width: 500px;
  min-height: 718px;
  overflow: hidden;
}

.Home__overlay{
  opacity: 0.7;
  background: black;
  z-index: 1;
  transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -webkit-transition: opacity .35s ease-in-out;
}

.Home__overlay img{
  height: 100%;
  width: 100%;
  min-width: 752px;
}

.Home__ctn img{
  z-index: 999999;
  position: absolute;
  background: rgba(255,255,255,0.4);
}

.Left__home_ctn:hover + .Left__overlay{ 
  opacity: 1;
}

.Right__home_ctn:hover + .Right__overlay{ 
  opacity: 1;
}

.Home__overlay:hover{
  cursor: pointer;
}

.Left__overlay{
  right: 50%;
}

.Left__overlay:hover{
  opacity: 1;
}

.Right__overlay:hover{
  opacity: 1;
}

.Right__overlay{
  left: 50%;
}

.Home__ctn a{
  text-decoration: none;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 100px;
}

.Home__ctn span{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 400px;
  width: 380px;
}

.Left__home_btn{
  width: 655px;
}

.Right__home_btn{
  width: 584px;
}

.Right__home_ctn {
  right: 0;
}

.Left__home_ctn {
  left: 0;
}

.Left__home_ctn a{
  color: white;
}

.Right__home_ctn a{
  color: #191970;
}