.Home__container{
  position: relative;
  overflow: hidden;
  height: 100%;
}

.home-carousel.slick-slider{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.home-carousel.slick-slider img{
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 1400px;
}

.Home__nav_bar_right{
  height: 65px;
  background: #191970;
  opacity: 0.7;
  padding: 7px 0 0 7px;
  position: absolute;
  bottom: 26px;
  left: 177px;
  width: 100%;
}

.Home__nav_bar_right ul{
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 7px;
  left: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #999;
  font-family: Arial,Helvetica,sans-serif;
}

.Home__nav_bar_right ul li{
  margin-bottom: 1px;
}

.Home__nav_bar_right ul li:hover{
  cursor: pointer;
  color: white;
}


.Home__nav_bar_left span{
  position: absolute;
  right: 15px;
  bottom: 13px;
  font-size: 15px;
}

.Home__nav_bar_left{
  position: absolute;
  left: 0;
  width: 176px;
  opacity: 0.99;
  background: #191970;
  height: 72px;
  bottom: 26px;
  color: white;
  font-family: Arial,Helvetica,sans-serif;
}

.slick-track{
  height: 100%;
}

.slick-slide{
  height: 100%;
}