<%= render partial: 'application/navbar' %>

<div class="Home__container">
  <div class="home-carousel">
    <!-- TODO implement slick lazy loading once actual images are in place!!!! otherwise you'll be loading -->
    <!-- multiple very large images at once -->
    <div>
      <%= image_tag 'pool.jpg' %>
    </div>
    <div>
      <%= image_tag 'pool1.jpg' %>
    </div>
    <div>
      <%= image_tag 'pool2.jpg' %>
    </div>
  </div>
</div>
