<div class="Home__parent">
  <div class="Left__home_ctn Home__ctn">
    <span class="Left__home_btn"> <%= link_to image_tag('logo/ElitePOOLS.png'), elite_pool_index_path %> </span>
  </div>

  <div class="Left__overlay Home__overlay" data-link="span.Left__home_btn a">
    <%= image_tag 'root/pool_home.jpg' %>
  </div>

  <div class="Right__home_ctn Home__ctn">
    <span class="Right__home_btn"> <%= link_to image_tag('logo/EliteTURF.png'), elite_turf_index_path %> </span>
  </div>

  <div class="Right__overlay Home__overlay" data-link="span.Right__home_btn a">
    <%= image_tag 'root/turf_home.jpg' %>
  </div>
</div>
