<div class="Left__home_ctn Home__ctn">
  <span class="Left__home_btn"> <%= link_to 'ELITE POOLS', elite_pool_index_path %> </span>
</div>

<div class="Right__overlay wtf Home__overlay" data-toggle-class="Left__overlay" data-new-opacity="0.6" data-link="span.Right__home_btn a"></div>
<div class="Left__overlay Home__overlay" data-toggle-class="Right__overlay" data-new-opacity="0.8" data-link="span.Left__home_btn a"></div>

<div class="Right__home_ctn Home__ctn">
  <span class="Right__home_btn"> <%= link_to 'ELITE TURF', elite_turf_index_path %> </span>
</div>